* {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

.thanks_message {
	width: 300px;
	padding: 30px 50px;
	border: 5px solid yellow;
	margin: 50px auto;
}

.wrapper {
	width: 300px;
	padding: 30px 50px;
	border: 5px solid lightblue;
	margin: 50px auto;
}

.input_field {
	margin: 10px 0px;
}

select, input[type='text'] {
	vertical-align: middle;
	margin-left: 5px;
}

.comment_field textarea {
	width: 250px;
	display: block;
	margin: 10px 0px;
	resize: none;
}
