* {
	font-family: Menlo, monospace;
}

td {
	padding: 5px;
}

.red {
	color: red;
}

.big_red {
	color: red;
	font-size: 24px;
	font-weight: bold;
}

.blue {
	color: blue;
}

.big_blue {
	color: blue;
	font-size: 24px;
	font-weight: bold;
}

.green {
	color: green;
}

.big_green {
	color: green;
	font-size: 24px;
	font-weight: bold;
}

.half {
	width: 500px;
	margin: 20px;
	padding: 20px;
	vertical-align: top;
	display: inline-block;
	height: 500px;
	overflow: scroll;
}

.submit_button {
	text-align: center;
	margin: 20px;
}
