<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Amadon</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'store/css/style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			<table>
				<caption>Amadon</caption>
				<tr>
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
				{% for id, product in products.iteritems %}
				<tr>
					<form action="/buy/{{ id }}/" method="post">
						{% csrf_token %}
						<td>{{ product.name }}</td>
						<td>${{ product.price }}</td>
						<td><input type="number" name="quantity" value=0></td>
						<td><input type="submit" value="Buy"> </td>
					</form>
				</tr>
				{% endfor%}
			</table>
		</div>
	</body>
</html>
