<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login & Registration</title>
	</head>
	<body>
		<div class="wrapper">
			<h1>Registration</h1>
			{% if messages %}
				{% for message in messages %}
				<p color="red">{{ message }}</p>
				{% endfor %}
			{% endif %}
			<form action="register/" method="post">
				{% csrf_token %}
				<div class="input">
					<label for="first_name">First Name: <input type="text" name="first_name"></label>
				</div>
				<div class="input">
					<label for="last_name">Last Name: <input type="text" name="last_name"></label>
				</div>
				<div class="input">
					<label for="email">Email: <input type="text" name="email"></label>
				</div>
				<div class="input">
					<label for="first_name">Password: <input type="password" name="password"></label>
				</div>
				<div class="input">
					<label for="first_name">Confirm Password: <input type="password" name="confirm_password"></label>
				</div>
				<input type="submit" value="Register">
			</form>
			<h1>Log In</h1>
			<form action="log_in/" method="post">
				{% csrf_token %}
				<div class="input">
					<label for="email">Email: <input type="text" name="email"></label>
				</div>
				<div class="input">
					<label for="password">Password: <input type="password" name="password"></label>
				</div>
				<input type="submit" value="Log In">
			</form>
		</div>
	</body>
</html>
