<!DOCTYPE html>
<html>
<head>
	<title>Dojos</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="wrapper">
		<h1>Dojo Questions!</h1>
		<form action="" method="get" accept-charset="utf-8">
			<label>What is your name?<input type="text" name="" value=""></label>
			<label>What is your favorite programming language?<input type="text" name="" value=""></label>
			<label>What city do you live in?<input type="text" name="" value=""></label>
			<label>Complete? <input type="submit" name="" value="Submit"></label>
		</form>
	</div>
</body>
</html>